* {
  margin: 5px;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.card {
  background-color: rgba(49, 3, 3, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 150px;
  transition: all 0.3s ease-in;
  text-transform: capitalize;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 5px 5px #ccd3fc;
}
