@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  font-family: "Comfortaa", cursive;
}
body {
  background: url("./assets/pexels-tetyana-kovyrina-937980.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
